.advantages {
  text-align: center;
}

.advantages__wrapper {
  padding: 32px 18px 16px;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__list-services {
  padding: 23px 18px 46px;
  color: #000000;
  background-color: #ffffff;
}

.advantages__list-text {
  padding: 24px 26px 28px;
  color: #000000;
  background-color: #e7e5e5;
}
