.advantages {
  text-align: center;
}

.advantages__wrapper {
  padding: 32px 18px 16px;
  text-align: center;
}

.advantages__list {
  .list-reset();
  color: @color-text-accent;
  background-color: @color-background-secondary;
}

.advantages__list-text {
  color: @color-text-secondary;
  background-color: @color-background-tertiary;
  padding: 24px 26px 28px;
}
