.advantages {
  text-align: center;
}

.advantages__wrapper-text {
  padding: 35px 25px 15px;
}

.advantages__lead {
  margin: 0;
  margin-bottom: 35px;
}

.advantages__lead-description {
  margin: 0;
}

.advantages__title {
  margin: 0;
  margin-bottom: 11px;
}

.advantages__number {
  margin: 0;
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0;
}

.advantages__list {
  .list-reset();
  color: @color-text-accent;
  background-color: @color-background-secondary;
  position: relative;
}

.advantages__item-wrapper-triangle {
  padding: 70px 18px 40px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/index/advantages-triangle.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.advantages__picture {
  display: block;
  width: 100%;
}

.advantages__list-text {
  color: @color-text-secondary;
  background-color: @color-background-tertiary;
  padding: 24px 18px 28px;
}

.advantages__item-wrapper {
  padding: 37px 18px;
}

.advantages__description-text {
  margin: 0;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

.advantages__item-text {
  padding-left: 14px;
  padding-right: 14px;

  &:not(:last-child) {
    margin-bottom: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid @color-stripe;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item-wrapper-triangle {
    padding: 54px 32px 31px;

    &::after {
      display: none;
    }
  }

  .advantages__lead {
    margin-bottom: 28px;
  }

  .advantages__wrapper-text {
    width: 520px;
    padding: 49px 0 56px;
    margin: 0 auto;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    justify-content: center;
    flex-direction: column;
  }

  .advantages__item-wrapper {
    padding: 55px 33px 31px;
  }

  .advantages__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    max-width: 150px;
  }

  .advantages__number {
    margin-bottom: 22px;
  }

  .advantages__list-picture--reverse {
    flex-direction: row-reverse;
  }

  .advantages__item-picture {
    position: relative;
    width: 66.66%;
    padding: 0;
    overflow: hidden;
  }

  .advantages__picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-width: initial;
  }

  .advantages__list-text {
    padding: 0;
  }

  .advantages__item-text:not(:last-child) {
    margin-bottom: 0;
    padding-bottom: 42px;
    border-bottom: none;
  }

  .advantages__item-text {
    padding: 44px 33px;
  }

  .advantages__title-square {
    margin-top: -24px;
  }

  .advantages__title-tourist {
    margin-top: -22px;
  }

  .advantages__number-road {
    margin-bottom: 22px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper-text {
    padding: 60px 0 45px;
  }

  .advantages__item-wrapper-triangle {
    padding: 53px 55px 53px;
  }

  .advantages__title {
    margin-bottom: 13px;
  }

  .advantages__item-wrapper {
    padding: 54px 84px 52px;
  }

  .advantages__item-text:not(:last-child) {
    padding-bottom: 52px;
  }

  .advantages__item-text {
    padding: 53px 50px;
  }

  .advantages__title-square {
    margin-top: 0;
  }

  .advantages__title-tourist {
    margin-top: 0;
  }
}
