.button {
  color: @color-text-button;
  background-color: @color-background-button;
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}
