.catalog-photo {
  padding: 37px 20px 0;
}

.catalog-photo__wrapper {
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: @color-stripe-inner;
    left: -20px;
    width: calc(100% + 40px);
  }
}

.catalog-photo__title {
  margin: 0;
  margin-bottom: 30px;
}

.catalog-photo__description {
  margin: 0;
  padding-bottom: 25px;
}

.catalog-photo__list {
  .list-reset();
  padding-top: 24px;
}

.catalog-photo__item {
  margin-bottom: 24px;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: @color-stripe-inner;
    left: -20px;
    width: calc(100% + 40px);
  }
}

.catalog-photo__item:last-child {
  margin-bottom: 0;
}

.catalog-photo__link {
  display: block;
  margin-bottom: 15px;
}

.catalog-photo__title-card {
  margin: 0;
  text-align: left;
}

.catalog-photo__author-name {
  margin: 0;
  margin-bottom: 11px;
  text-align: left;
  text-transform: none;
}

.catalog-photo__like-amount {
  display: block;
  text-align: left;
  padding: 5px 10px 25px 37px;
  background-image: url("../img/catalog/like-icon.svg");
  background-repeat: no-repeat;
  background-size: 23px 21px;
  background-position: 0 0;
}

@media (min-width: @tablet-width) {
  .catalog-photo {
    padding: 66px 60px 58px;
  }

  .catalog-photo__wrapper {
    width: 458px;
    margin: 0 auto;
    margin-bottom: 67px;
  }

  .catalog-photo__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 0;
  }

  .catalog-photo__item {
    position: relative;
    background-color: @color-background-complementary;
  }

  .catalog-photo__item:first-child {
    grid-column: 1/3;
  }

  .catalog-photo__description {
    margin: 0;
  }

  .catalog-photo__like-amount {
    position: absolute;
    bottom: 27px;
    right: 20px;
    padding-left: 9px;
  }

  .catalog-photo__title-card {
    margin: 0;
    margin-top: 22px;
    margin-left: 20px;
  }

  .catalog-photo__author-name {
    margin-left: 20px;
    margin-bottom: 15px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-photo {
    padding: 0;
    padding-top: 100px;
  }

  .catalog-photo__wrapper {
    margin-bottom: 65px;
  }

  .catalog-photo__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog-photo__item:first-child {
    grid-column: 1/4;
  }
}
