.catalog-video {
  padding: 17px 20px 0;
  text-align: center;
}

.catalog-video__wrapper-text {
  padding-right: 6px;
  padding-left: 8px;
  margin-bottom: 38px;
}

.catalog-video__title {
  margin: 0;
  margin-bottom: 24px;
}

.catalog-video__description {
  margin: 0;
}

.catalog-video__wrapper-video {
  position: relative;
}

.catalog-video__picture {
  display: block;
  margin: 0 auto;
}

.catalog-video__button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 54px;
  border: none;
  background-image: url("../img/catalog/play-icon.png");
  background-repeat: no-repeat;
  background-size: 48px 54px;
  background-position: center center;
  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .catalog-video {
    padding: 0 60px 40px;
  }

  .catalog-video__title {
    margin-bottom: 32px;
  }

  .catalog-video__wrapper-text {
    width: 445px;
    margin: 0 auto;
    margin-bottom: 89px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-video {
    padding: 62px 201px 84px 199px;
  }

  .catalog-video__wrapper-text {
    width: 445px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
}
