.hero {
  padding: 90px 19px 85px;
  text-align: center;
  background-color: #81b3d2;
  background-image: url(../../img/index/background-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
