.hero-inner {
  padding: 52px 19px 67px;
  text-align: center;
  background-color: #81b3d2;
  background-image: url("../img/index/background-mobile.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
