.main-nav {
  position: absolute;
  top: 17px;
  right: 20px;
  background-image: url("../img/header/menu-icon.svg");
  background-size: 23px 22px;
}

.main-nav__list {
  .list-reset();
  color: @color-text-accent;
  background-color: @color-background-secondary;
}

.main-nav__link {
  display: block;
  text-decoration: none;
}
