.search-hotel {
  padding: 38px 18px 8px;
  text-align: center;
}

.search-hotel__description {
  margin-bottom: 32px;
}

.search-hotel__search-button {
  display: inline-block;
  margin-bottom: 49px;
  text-decoration: none;
}
