.search-hotel__wrapper {
  padding: 38px 18px 49px;
  text-align: center;
}

.search-hotel__title {
  margin: 0;
  margin-bottom: 30px;
}

.search-hotel__description {
  margin-bottom: 32px;
}

.search-hotel__search-button {
  display: inline-block;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .search-hotel__wrapper {
    padding: 60px 100px 55px;
  }

  .search-hotel__description {
    margin-bottom: 44px;
  }

  .search-hotel__search-button {
    padding: 14px 121px 18px;
  }
}
