.search-hotel {
  padding-bottom: 9px;
}

.search-hotel__wrapper {
  padding: 38px 18px 49px;
  text-align: center;
}

.search-hotel__title {
  color: @color-text-secondary;
  margin: 0;
  margin-bottom: 17px;
}

.search-hotel__description {
  margin: 0;
  margin-bottom: 32px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

.search-hotel__search-button {
  padding: 16px 20px;

  &:hover {
    background-color: @color-background-hover;
  }

  &:active {
    background-color: @color-background-active;
    color: fade(@color-text-accent, 30%);
  }
}

.search-hotel__wrapper-map {
  position: relative;
}

.search-hotel iframe {
  border: none;
  display: block;
  width: 100%;
  height: 350px;
}

.search-hotel__map-noscript {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .search-hotel {
    padding-bottom: 0;
  }

  .search-hotel__wrapper {
    width: 458px;
    margin: 0 auto;
    padding: 60px 0 55px;
  }

  .search-hotel__title {
    margin-bottom: 33px;
  }

  .search-hotel__description {
    margin-bottom: 44px;
  }

  .search-hotel__search-button {
    margin: 0 auto;
    padding: 14px 20px 18px;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .search-hotel__wrapper {
    padding-top: 62px;
    padding-bottom: 66px;
  }
}
