.services {
  color: @color-text-secondary;
  background-color: @color-background-primary;
  padding: 23px 18px 46px;
}

.services__item:not(:last-child) {
  margin-bottom: 25px;
}

.services__title {
  margin: 0;
  margin-bottom: 16px;
}

.services__description {
  color: @color-text-primary;
}
