.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.social-list__item {
  position: relative;
  background-color: @color-background-secondary;
  width: 48px;
  height: 48px;

  &:hover {
    background-color: @color-background-hover;
  }

  &:active {
    background-color: @color-background-active;
  }
}

.social-list__item svg {
  position: absolute;
  top: 17px;
  left: 13px;
}

.social-list__link {
  display: block;
  width: 48px;
  height: 48px;

  &:active svg {
    opacity: 0.3;
  }
}
