.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
}

.title--size,
.title--size-footer {
  font-size: 21px;
}

@media (min-width: @tablet-width) {
  .title {
    font-size: 21px;
    line-height: 1.24;
  }

  .title--size,
  .title--size-catalog,
  .title--size-video,
  .title--size-feedback,
  .title--size-modal {
    font-size: 30px;
    line-height: 0.87;
  }

  .title--modal-error {
    font-size: 30px;
    line-height: 1.33;
  }

  .title--size-main-nav {
    font-size: 14px;
    line-height: 1.5;
  }
}
