@color-background-primary: #ffffff;
@color-background-secondary: #81b3d2;
@color-background-tertiary: #e7e5e5;
@color-text-primary: #333333;
@color-text-secondary: #000000;
@color-text-accent: #ffffff;
@color-background-button: #81b3d2;
@color-text-button: #ffffff;
